$Error-red-color-text: #e64210;


// ---Button Color----
$primary-button-color: 	#428bca;
$secondary-button-color: transparent;
$info-button-color: #5CB85C;
$warning-button-color: 	#faa632;
$danger-button-color: 	#d9534f;
$text-button: #fff;
$text-secondary-button: #333;